<!-- components/header.html -->
<header>
  <div class="container">
    <nav class="main-nav">
      <ul class="nav-menu">
        <li><a href="index.html">Home</a></li>
        <li>
          <a href="#">About Conference</a>
          <ul class="dropdown-menu">
            <li><a href="page\organizers.html">Organizers</a></li>
            <li><a href="page\history.html">History</a></li>
            <li><a href="page\support.html">Support</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Registration</a>
          <ul class="dropdown-menu">
            <li><a href="page\application.html">Application for participation</a></li>
            <li><a href="page\participants.html">Participants</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Announcement</a>
          <ul class="dropdown-menu">
            <li><a href="page\fisrt.html">First</a></li>
            <li><a href="page\second.html">Second</a></li>
          </ul>
        </li>
        <li>
          <a href="#">For Lecture</a>
          <ul class="dropdown-menu">
            <li><a href="page\posters.html">Posters</a></li>
            <li><a href="page\pamphlet.html">Pamphlet</a></li>
            <li><a href="page\program.html">Program</a></li>
            <li><a href="page\photo.html">Photo</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Travel Information</a>
          <ul class="dropdown-menu">
            <li><a href="page\accommodation.html">Accommodation</a></li>
            <li><a href="page\transportation.html">Transportation</a></li>
            <li><a href="page\venue.html">Venue</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
